
.education {
    padding-top: 5rem; 
    padding-bottom: 5rem;
    background-color: #1C315E;
    color: white; 
}

/* Heading styles */
.education h1 {
    font-size: 3rem; 
    margin-bottom: 2.5rem; 
    text-align: center; 
    font-weight: bold; 
    animation: fade-in-top 0.5s ease-in; /* Animation for fade-in */
}

/* Timeline container styles */
.timeline-items {
    position: relative;
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
}

/* Fixed glow line styles */
.fixed-glow {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%); 
    width: 0.25rem; 
    height: 100%; 
    background-color: #00ffee; 
    z-index: 0; 
}

/* Timeline item styles */
.timeline-item {
    position: relative;
    margin-bottom: 2.5rem;
}

/* Timeline dot styles */
.timeline-dot {
    position: absolute; 
    background-color: #00ffee; 
    border-radius: 50%; 
    height: 1.25rem; 
    width: 1.25rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    top: 1rem; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: 10; 
}

/* Timeline date styles */
.timeline-date {
    font-weight: bold;
    color: #00ffee; 
    animation: fade-in-top 0.5s ease-in; /* Animation for fade-in */
    font-size: 1.25rem; 
    margin-bottom: 0.5rem;
}

/* Timeline content styles */
.timeline-content {
    position: relative; 
    display: inline-block; 
    margin: 0 1rem; 
    background-color: #0B2447; 
    border: 2px solid #00ffee;
    border-radius: 0.5rem; 
    padding: 1.25rem; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    transition: transform 0.3s, box-shadow 0.3s; /* Transition for hover effects */
}

.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 255, 255, 0.5); 
}

/* Title styles */
.timeline-content h3 {
    font-size: 1.125rem; 
    font-weight: 600;
    animation: fade-in-top 0.5s ease-in; /* Animation for fade-in */
}

/* Description styles */
.timeline-content p {
    font-style: italic;
    color: #D1D5DB; 
    animation: fade-in-top 0.5s ease-in; /* Animation for fade-in */
}

/* Keyframes for fade-in animation */
@keyframes fade-in-top {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
