.contact {
    padding-top: 5rem; 
    padding-bottom: 5rem; 
    background-color: #1C315E;
  }
  
  .contact-title {
    animation: fadeInTop 0.5s ease-in-out;
    font-size: 3rem; 
    margin-bottom: 2.5rem; 
    text-align: center;
    font-weight: bold;
  }
  
  .highlight {
    color: #00bcd4; 
  }
  
  .contact-form {
    max-width: 28rem; 
    margin: 0 auto; 
    padding: 1.25rem;
    animation: fadeInTop 0.5s ease-in-out;
    background-color: #0B2447;
    border: 2px solid #00ffee;
    border-radius: 0.375rem; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  }
  
  .input-box {
    margin-bottom: 1rem;
  }
  
  .input-field {
    width: 100%;
    padding: 0.75rem; 
    border: 1px solid #D1D5DB; 
    background-color: #0B2447;
    border-radius: 0.375rem; 
    outline: none;
  }
  
  .input-field:focus {
    outline: 2px solid #00ffee; 
    box-shadow: 0 0 0 2px rgba(0, 255, 238, 0.5); /* Simulating the ring effect */
  }
  
  .textarea-field {
    width: 100%;
    padding: 0.75rem; 
    border: 1px solid #D1D5DB; 
    background-color: #0B2447;
    border-radius: 0.375rem;
    outline: none;
    margin-bottom: 1rem; 
  }
  
  .textarea-field:focus {
    outline: 2px solid #00ffee; 
    box-shadow: 0 0 0 2px rgba(0, 255, 238, 0.5); /* Simulating the ring effect */
  }
  
  .submit-btn {
    width: 100%;
    background-color: #19A7CE; 
    font-weight: bold;
    font-style: italic;
    padding: 0.5rem 1rem; 
    border-radius: 0.375rem;
    cursor: pointer;
    color: black;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: transparent;
    border: 2px solid #19A7CE; 
    color: #19A7CE; 
  }
  
  .find-me-title {
    animation: fadeInTop 0.5s ease-in-out;
    font-size: 3rem; 
    margin: 2rem 0; 
    text-align: center;
    font-weight: bold;
  }
  
  .btn-container {
    display: flex;
    justify-content: center; 
    gap: 1rem;
  }
  
  .btn {
    padding: 0.5rem 1rem;
    background-color: #0B2447;
    border: 2px solid #00ffee; 
    border-radius: 0.375rem; 
    color: #00ffee; 
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #00ffee; 
    color: #0B2447; 
  }
  
  /* Animation Keyframes */
  @keyframes fadeInTop {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInBottom {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  