
.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 900px; 
    background-color: #0B2447;
    color: white; 
}

/* Section styles */
.skills-section {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 1rem; 
    margin-bottom: 2.5rem; 
    margin-left: 1.25rem; 
    margin-right: 1.25rem;
}

/* Heading styles */
.skills-heading {
    font-size: 3rem;
    margin-bottom: 2.5rem; 
    text-align: center; 
    font-weight: bold; 
}

/* Span styles for colored text */
.skills-highlight {
    color: #06b6d4; 
}
/* Flex container for skill bars */
.skill-bars-container {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}

/* Left and right column styles */
.skill-column {
    display: flex;
    
    flex-direction: column; /* Stack skill bars vertically */
    margin-bottom: 1rem; /* Space below on small screens */
    
}

/* Medium screens and up */
@media (min-width: 768px) {
    .skill-bars-container {
        flex-direction: row; 
    }
    
    .skill-column {
        width: 50%; 
        margin-bottom: 0; 
    }
}

/* Space between columns */
.column-space {
    width: 1.25rem; 
}
/* Skill Bar Container */
.skill-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid transparent; 
    padding: 0.5rem; 
    border-radius: 0.375rem; 
    width: 100%; 
    max-width: 400px;
    margin: 0 auto;
    position: relative; 
    animation: slide 0.3s ease-in-out;
}

/* Animation for skill bar */
@keyframes slide {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Skill Label and Icon Container */
.skill-label {
    display: flex;
    align-items: center;
}

/* Icon styles */
.skill-icon {
    font-size: 1.875rem; 
    margin-right: 1rem; 
}

/* Progress Bar Container */
.progress-container {
    position: relative;
    width: 100%;
    margin-left: 1rem; 
}

/* Progress Bar Background */
.progress-background {
    background-color: #4a5568; 
    height: 0.5rem; 
    border-radius: 0.375rem; 
    border: 1px solid #06b6d4; 
}

/* Progress Bar Fill */
.progress-fill {
    background-color: #06b6d4; 
    height: 100%; 
    border-radius: 0.375rem; 
    animation: fill 0.3s ease-in-out; 
}

/* Animation for progress fill */
@keyframes fill {
    from {
        width: 0%;
    }
    to {
        width: 100%; 
    }
}
